/* NYPL GLOBAL SEARCH COLOR PALETTE
 * ---------------------------
 * For reference, go to https://bitbucket.org/NYPL/dgx-ethyl-style-guide
 * and set up the Ethyl Style Guide application.
*/

/* NYPL Primary Red */
$PRIMARY_COLOR: #E32B31 !default;
$SECONDARY_RED_COLOR: #B80F15 !default;

/* NYPL gray */
$BLACK_COLOR: #000;
$LIGHTGRAY_COLOR: #D7D4D0;
$GRAY_COLOR: #76777B;
$DARKGRAY_COLOR: #54514A;

/* Coolgray */
$COOLGRAY_COLOR: #7B756F !default;

/* Search */
$SEARCH_BLUE: #1B7FA7 !default;
$SEARCH_BLUE_DARK: darken($SEARCH_BLUE, 10%);
$SEARCH_BLUE_LIGHT: #EFF2F5;
$INPUT_FIELD_GREY: $DARKGRAY_COLOR !default;
$FILTER_ICON_GREY: #7B756F !default;

/* Utilities */
$charcoal: #333333;

/* Reusable Utility Color Classes for Fonts/Background Color */

// Background Color Classes
.bgPrimaryLibraryRed {
  background-color: $PRIMARY_COLOR;
}

.bgSecondaryLibraryRed {
  background-color: $SECONDARY_RED_COLOR;
}
