.filterWrapper {
  @include Kievit-Medium;

  color: #837E77;
  margin: 0 0 20px 0;
  text-align: right;

  p {
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    margin: 0 10px 0 0;
    vertical-align: 8px;
  }

  .filterIcon {
    border: 2px solid $FILTER_ICON_GREY;
    border-radius: 32px;
    color: $FILTER_ICON_GREY;
    cursor: pointer;
    display: inline-block;
    margin: 0 14px 0 0;
    padding: 0 2px;
  }

  .filterList {
    background-color: #737069;
    color: #FFF;
    padding: 0 10px 84px 10px;
    text-align: center;

    &-navigation {
      border-bottom: 2px solid #FFF;
      text-align: left;
    }

    svg {
      display: inline-block;
    }

    h4 {
      display: inline-block;
      font-size: 20px;
      line-height: 26px;
      vertical-align: 22px;
    }

    &-buttonWrapper {
      display: inline-block;
      float: right;
      margin: 21px 0 0 0;
    }

    &-filterIcon {
      padding: 0 0 0 16px;
      vertical-align: 7px;
    }

    .apply {
      vertical-align: 10px;
    }

    .closeButton {
      vertical-align: -4px;
    }

    &-filterItems {
      padding: 0 0 0 25px;
      text-align: left;
      li {
        list-style-type: none;
        margin: 28px 0 28px 0;
      }
    }

    .reset-wrapper {
      border: 2px solid #FFF;
      border-radius: 60px;
      display: inline-block;
      padding: 18px 60px;
    }

    .reset {
      background-color: transparent;
      border: 0;
      font-size: 18px;
      padding: 0;

      span {
        margin: 0 0 0 22px;
        vertical-align: 9px;
      }
    }

  }
}
