.gs-hintBlock {
  @include Kievit-Medium;

  background-color: $HINTBLOCK_YELLOW_COLOR;
  color: #333;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 18px 0;
  padding: 14px 14px 17px;

  @include min-screen($tablet-portrait) {
    padding: 14px 36px 17px;
    margin: 0 0 30px 0;
  }

  @include layout-at(9, $tablet-landscape) {
    @include grid-span(9, 1);

    box-sizing: border-box;
    padding: 14px 0;
    margin: 18px 0 0 0;
  }

  p {
    margin: 0;
    padding: 0 52px 0 0;

    @include layout-at(9, $tablet-landscape) {
      @include grid-span(6, 2);

      padding: 0;
    }
  }

  .linkText {
    color: $PRIMARY_COLOR;
    font-size: 16px;
    text-decoration: underline;
  }

  &-closeButton {
    background: none;
    border: none;
    float: right;
    margin: -7px -7px 0 0;
    padding: 0;

    @include min-screen($tablet-landscape) {
      margin: -10px 20px 0 0;
    }
  }
}

