.gs-inputField {
  @include Kievit-Book-Italic;

  border: 2px solid $BLACK_COLOR;
  border-radius: 2px;
  box-sizing: border-box;
  color: $INPUT_FIELD_GREY;
  font-size: 18px;
  padding: 13px 12px;
  width: 100%;

  @include min-screen($tablet-landscape) {
    border-radius: 2px 0 0 2px;
  }

  &-wrapper {
    padding: 0 14px;

    @include layout-at(7, $tablet-portrait) {
      @include grid-span(3, 1);

      border-right: 0px;
      display: inline-block;
      margin: 0 -2px 0 0;
      padding: 0;
    }

    @include layout-at(7, $tablet-landscape) {
      @include grid-span(5, 1);

      margin: 0 -2px 0 0;
    }

    @include min-screen($desktop) {
      width: 48%;
    }
  }
}

