.inputWrapper {
  padding: 0 14px;
  margin: 0 0 22px 0;
}

.inputField {
  border: 2px solid #665C52;
  border-radius: 3px;
  box-sizing: border-box;
  
  color: #665C52;
  font-size: 18px;
  font-style: italic;
  line-height: 16px;
  padding: 16px 17px;
  width: 100%;
}