.gs-results {
  margin: 15px 0 0 0;
  padding: 0;

  @include layout-at(8, $tablet-landscape) {
    @include grid-span(7, 1);
  }

  &-wrapper {
    @include Kievit-Book;

    padding: 30px 14px 0 14px;

    @include layout-at(7, $tablet-portrait) {
      padding: 0 20px;
    }

    @include layout-at(8, $tablet-landscape) {
      padding: 0 0 0 2rem;
    }
  }

  &-length {
    @include layout-at(8, $tablet-landscape) {
      @include grid-span(8, 1);
    }

    color: $BLACK_COLOR;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 16px 0;
    width: 100%;

    @include min-screen($tablet-landscape){
      margin: 0 0 16px 0;
    }
  }

  &-divideLineIcon {
    display: block;
  }

  &Item {
    border-bottom: 1px solid $LIGHTGRAY_COLOR;
    list-style-type: none;
    margin: 0 0 16px 0;

    @include layout-at(7, $tablet-portrait) {
      @include grid-span(7, 1);

      margin: 0 0 24px 0;
    }

    @include layout-at(6, $tablet-landscape) {
      @include grid-span(6, 1);

      padding: 0 0 24px 0;
    }

    a {
      color: $SEARCH_BLUE;
      text-decoration: none;
    }

    &-title {
      color: $BLACK_COLOR;
      font-size: 22px;
      line-height: 1.5;
      font-weight: normal;
      text-decoration: underline;
      margin: 0 0 8px 0;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(6, 1);

        margin: 0 0 8px 0;
        margin-right: 0 !important;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(5, 1);

        &:hover {
          color: $SEARCH_BLUE;
          transition: color ease-in 0.3s;
        }

      }
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;

      &Wrapper {
        display: none;
        max-height: 400px;
        overflow: hidden;

        @include layout-at(7, $tablet-portrait) {
          @include grid-span(1, 7);
          display: block;
        }

        @include layout-at(6, $tablet-landscape) {
          @include grid-span(1, 6);

          margin: 0;
        }
      }
    }

    &-snippet {
      color: $BLACK_COLOR;
      font-size: 16px;
      line-height: 1.25;
      margin: 0 0 23px 0;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 1);

        margin: 0 0 30px 0;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(5, 1);

        margin: 0;
      }
    }

    &-label {
      @include Kievit-Bold;

      color: $SEARCH_BLUE;
      font-size: 13px;
      letter-spacing: .04em;
      margin: 0 0 8px 0;
      text-transform: uppercase;
      
      @include layout-at(7, $tablet-portrait) {
        @include grid-span(6, 1);

        margin: 0 0 8px 0;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(5, 1);

        margin: 0 0 8px 0;
      }
    }

    &-linkText {
      @include Kievit-Book-Italic;

      color: $DARKGRAY_COLOR;
      font-size: 14px;
      line-height: 1.25;
      margin: 0 0 8px 0;
      word-break: break-all;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 1);

        margin: 0 0 8px 0;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(4, 1);

        margin: 0 0 8px 0;
      }
    }
  }
}

.noResultMessage {
  @include Kievit-Book;

  color: $PRIMARY_COLOR;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
}

.whole-row {
  @include layout-at(7, $tablet-portrait) {
    @include grid-span(7, 1);
  }

  @include layout-at(6, $tablet-landscape) {
    @include grid-span(6, 1);
  }
}

a:focus {
  @include a11y-focus($SEARCH_BLUE_DARK, 4px);
}

.gs-resultsItem-title a:focus, a:focus .gs-resultsItem-imageWrapper, .gs-results-paginationButton:focus, .gs-inputField:focus, .gs-search-catalog-link-wrapper a:focus, .returnLink a:focus {
  @include a11y-focus($SEARCH_BLUE_DARK, 4px);
}

