.gs-results {
  margin: 15px 0 0 0;
  padding: 0;

  @include layout-at(9, $tablet-landscape) {
    @include grid-span(6, 2);

    margin: 20px 0 0 0;
  }

 /* @include layout-at(9, $tablet-landscape) {
    @include grid-span(7, 1);
  }*/

  &-wrapper {
    @include Kievit-Medium;

    padding: 0 14px;

    @include layout-at(7, $tablet-portrait) {
      padding: 0 36px;
    }

    @include layout-at(9, $tablet-landscape) {
      @include grid-span(8, 2);

      margin: -550px 0 0 0;
      padding: 0;
    }
  }

  &-length {
    color: #A3A19E;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 21px 0;

    @include min-screen($tablet-landscape){
      margin: 0 0 16px 0;
    }
  }

  &-divideLineIcon {
    display: block;
  }

  &Item {
    border-bottom: 2px solid #A3A19E;
    list-style-type: none;
    margin: 0 0 15px 0;

    @include layout-at(7, $tablet-portrait) {
      @include grid-span(7, 1);

      margin: 0 0 30px 0;
    }

    @include layout-at(8, $tablet-landscape) {
      @include grid-span(8, 1);

      padding: 0 0 30px 0;
    }

    a {
      color: #000;
      text-decoration: none;
    }

    &-title {
      font-size: 18px;
      line-height: 21px;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        margin: 0 0 12px 0;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(4, 3);
      }
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;

      &Wrapper {
        display: none;
        height: 140px;
        overflow: hidden;

        @include layout-at(7, $tablet-portrait) {
          @include grid-span(2, 1);

          display: block;
        }

        @include layout-at(6, $tablet-landscape) {
          @include grid-span(2, 1);

          margin: 0;
        }
      }
    }

    &-snippet {
      color: #333;
      font-size: 16px;
      line-height: 21px;
      margin: 0 0 23px 0;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        margin: 0 0 30px 0;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(4, 3);

        margin: 0;
      }
    }

    &-label {
      color: #575757;
      font-size: 12px;
      line-height: 21px;
      margin: 0 0 21px 0;
      text-transform: uppercase;
      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        margin: 0 0 18px 0;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(6, 1);

        margin: 0 0 12px 0;
      }
    }

    &-linkText {
      color: #575757;
      font-size: 14px;
      line-height: 16px;
      word-break: break-all;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        margin: 0 0 11px 0;
      }

      @include layout-at(6, $tablet-landscape) {
        @include grid-span(4, 3);

        margin: 0 0 12px 0;
      }
    }
  }
}

.noResultMessage {
  @include Kievit-Medium;

  color: red;
  font-size: 20px;
  line-height: 21px;
  padding: 0 0 0 14px;

  @include layout-at(7, $tablet-portrait) {
    padding: 0 0 0 36px;
  }

  @include layout-at(9, $tablet-landscape) {
    @include grid-span(8, 2);

    margin: -550px 0 0 0;
    padding: 0;
  }
}

.whole-row {
  @include layout-at(7, $tablet-portrait) {
    @include grid-span(7, 1);
  }

  @include layout-at(6, $tablet-landscape) {
    @include grid-span(6, 1);
  }
}
