.gs-results {
  margin: 15px 0 0 0;
  padding: 0;

  &-wrapper {
    @include Kievit-Medium;

    padding: 0 14px;

    @include layout-at(7, $tablet-portrait) {
      padding: 0 36px;
    }
  }

  &-length {
    color: #A3A19E;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 21px 0;
  }

  &Item {
    border-bottom: 2px solid #A3A19E;
    list-style-type: none;
    margin: 0 0 15px 0;

    @include layout-at(7, $tablet-portrait) {
      @include grid-span(7, 1);

      margin: 0 0 30px 0;
    }
    a {
      color: #000;
      text-decoration: none;
    }

    &-title {
      font-size: 18px;
      line-height: 21px;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        margin: 0 0 12px 0;
      }
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;

      &Wrapper {
        display: none;
        height: 116px;
        width: 186px;
        overflow: hidden;

        @include layout-at(7, $tablet-portrait) {
          @include grid-span(2, 1);

          display: block;
        }
      }
    }

    &-snippet {
      color: #333;
      font-size: 16px;
      line-height: 21px;
      margin: 0 0 23px 0;
      padding: 0 0 17px 0;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        padding: 0 0 26px 0;
      }
    }

    &-label {
      color: #575757;
      font-size: 12px;
      line-height: 21px;
      margin: 0 0 21px 0;
      text-transform: uppercase;
       @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        margin: 0 0 18px 0;
      }
    }

    &-linkText {
      color: #575757;
      font-size: 14px;
      line-height: 16px;
      word-break: break-all;

       @include layout-at(7, $tablet-portrait) {
        @include grid-span(5, 3);

        margin: 0 0 11px 0;
      }
    }
  }

  &-paginationButton {
    &-wrapper {
      display: block;
      margin: 45px 0 72px 0;
      text-align: center;

      @include layout-at(7, $tablet-portrait) {
        @include grid-span(7, 1);
      }
    }

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 33px;
    cursor: pointer;
    display: inline-block;
    font-family: Kievit-Medium;
    font-size: 13px;
    letter-spacing: 0.04em;
    line-height: 16.21px;
    overflow: hidden;
    padding: 5px 20px;
    &__dot-row {
      display: block;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      &__element {
        border-radius: 100%;
        display: inline-block;
        margin: 0 4px 0 0;
        vertical-align: 1px;
      }
      &__number {
        display: inline-table;
        margin: 0 4px 0 0;
      }
    }
    &--hide {
      display: none;
    }
  }
}

.noResultMessage {
  @include Kievit-Medium;

  color: red;
  font-size: 20px;
  line-height: 21px;
  padding: 0 0 0 14px;

  @include layout-at(7, $tablet-portrait) {
    padding: 0 0 0 36px;
  }
}

.whole-row {
  @include layout-at(7, $tablet-portrait) {
    @include grid-span(7, 1);
  }
}
