.returnLink {
  @include Kievit-Book;

  font-size: 1em;
  text-align: center;
  display: block;
  margin: 50px 0px 50px 0px;

  a {
    color: $SEARCH_BLUE;

    &:hover {
      color: $SEARCH_BLUE_DARK;
      transition: color $DURATION_LONG ease;
    }
  }

  span {
    color: $COOLGRAY_COLOR;
  }
}
