.returnLink {
  @include Kievit-Medium;

  display: block;
  margin: 15px 0;
  padding: 0 14px;

  a {
    color: $COOLGRAY_COLOR;
  }

  span {
    color: $COOLGRAY_COLOR;
  }

  @include layout-at(7, $tablet-portrait) {
    padding: 0 36px;
  }

  @include layout-at(8, $tablet-landscape) {
    @include grid-span(7, 1);;

    margin: 0;
    padding: 0;

    div {
      float: right;
      margin: 0 27px -27px 0;
    }
  }

  @include layout-at(8, $desktop) {
    div {
      margin: 0;
      position: absolute;
      right: 313px;
      top: 158px;
    }
  }
}