
.view-all-items-container {
  margin-top: 1.5rem;
}

#categoryTextDiv{
  display:none;
}

#mobile-dropdown {
  display:none;
}


@media (min-width:0px) and (max-width:1020px) {
  .gs-results-divideLineIcon {
    margin-top:30px;
  }

  div .tabbed ul[role="tablist"]{
    display:none;
  }

  #categoryTextDiv{
    display:inline;
  }

  #mobile-dropdown {
    display:inline;
    z-index:1;
  }

  div .tabbed .wrapper-dropdown {
    /* Size and position */
    position: relative;
    min-width: 250px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    float:left;

    /* Styles */
    background: #fff;
    border: 1px solid #176E91;
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-size:18px;
    color: #176E91;
    font-family:Kievit-book;
    text-align:center;
  }

  div .tabbed .wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    width: 210px;
    top: 66%;
    padding:0px;

    /* Styles */
    background: white;
    border:solid black 1px;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
  }

  div .tabbed .wrapper-dropdown .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-left:40px;
  }


  div .tabbed .wrapper-dropdown .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
  }

  div .tabbed .wrapper-dropdown .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
  }

  /* Hover state */

  div .tabbed .wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    text-align:left;
    text-indent: -30px;
    width:248px;
  }

  div .tabbed .wrapper-dropdown ul li[class="activeTab"] a {
    font-weight: bolder;
  }

  div .tabbed #categoryTextDiv{
    float:left;
    font-size: 18px;
    font-family: Kievit-book;
    padding-left:16px;
    padding-right:18px;
    padding-top:16px;
  }
}

 .tabbed {
  *:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px lightBlue;
  }
  ul[role="tablist"] {
    margin: 0;
    margin-bottom: 20px;
    padding: 0px;
    display: block;
    list-style-type: none;
  }
  ul[role="tablist"]>li {
    border: solid black 1px;
    border-left: none;
    display: table-cell;
    margin-bottom: 0;
    white-space: nowrap;
  }
  ul[role="tablist"]>li.activeTab {
    border: 1px solid black;
    border-left: none;
    display: table-cell;
    margin-bottom: 0;
    background-color: #176E91;
  }

   ul[role="tablist"]>li.activeTab:hover {
   background-color: darken(#176E91, 10% ) ;
  }

  ul[role="tablist"]>li[class="activeTab"]>a {
    color: white;
  }
  li:hover {
    background-color: #EFEDEB;
  }
  ul[role="tablist"]>li>a {
    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    display: table-cell;
    font-weight: 500;
    text-decoration: none;
    font-family: Kievit-book;
    font-size: 18px;
    color: black;
  }
  ul[role="tablist"]>li:target>a {
    color: white;
  }
  ul[role="tablist"]>li>a[aria-selected='true'] {
    padding: 14px;
    padding-left: 16px;
    padding-right: 16px;
    display: table-cell;
    font-weight: 500;
    text-decoration: none;
  }
  #tab1 {
    border-left: solid black 1px;
  }
}

.default {
  display: block;
}

div .tabbed {
  ul[role="tablist"] {
    li:target~.default {
      display: none;
    }
    li:target {
      background-color: #176E91;
      border: 1px solid black;
      border-left: none;
    }
    li:hover {
      background-color: #EFF2F5;
    }
  }
}

.non-default {
  display: none;
}

@for $i from 1 through 11 {
  #tab#{$i}:target~#section#{$i} {
    display: block;
  }
}

@media (max-width: 1120px) {
  .additionalDetails {
    dt {
      float: none;
    }
  }
}

.clear-float {
  clear: both;
}
