/*
Import utils and fonts
*/
@import 'utils/colors';
@import "utils/fonts";

/*
Import singularity and breakpoints
*/
@import "~singularitygs/stylesheets/singularitygs";
@import "~breakpoint-sass/stylesheets/breakpoint";

/*
Import style rules from NYPL React module components
*/
@import "~dgx-header-component/dist/styles/main";
@import '~dgx-react-footer/dist/styles/styles';

#app {
  margin: 0;
  padding: 0;

  @include add-grid(3);
}

.maincontent {
  @include grid-span(3, 1);

  h2 {
    @include Kievit-Medium;

    color: $PRIMARY_COLOR;
    font-size: 18px;
    line-height: 21px;
    margin: 19px 0 23px 0;
    padding: 0 14px;

    span {
      &:last-child {
        font-size: 12px;
        vertical-align: 12px;
      }
    }
  }

  .hintblock {
    background-color: $HINTBLOCK_YELLOW_COLOR;
    color: #333;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 18px 0;
    padding: 14px 14px 17px;

    p {
      margin: 0;
      padding: 0 52px 0 0;
    }

    .closeButton {
      float: right;
    }
  }

  .inputWrapper {
    padding: 0 14px;
  }

  .inputField {
    @include grid-span(3, 1);

    border: 2px solid #665C52;
    border-radius: 3px;
    box-sizing: border-box;
    
    color: #665C52;
    font-size: 18px;
    font-style: italic;
    line-height: 16px;
    margin: 0 0 18px 0;
    padding: 16px 17px;
  }
}
