/*
Import utils and fonts
*/
@import 'utils/mixins';
@import 'utils/colors';
@import "utils/fonts";

/*
Import singularity and breakpoints
*/
@import "~singularitygs/stylesheets/singularitygs";
@import "~breakpoint-sass/stylesheets/breakpoint";

/*
Import Normalize and Grid settings for nyplHomepage App
*/
@import "utils/normalize";
@import "utils/gridSettings";

/*
Import style rules from NYPL React module components
*/
@import "~@nypl/dgx-header-component/dist/styles/main";
@import '~@nypl/dgx-react-footer/dist/styles/styles';

/*
Import style rules from App components
*/
@import "components/_TabItem";
@import "components/InputField";
@import "components/SearchButton";
@import "components/Results";
@import "components/PaginationButton";
@import "components/_LoadingLayer";
@import "components/_ReturnLink";

#app {
  margin: 0;
  padding: 0;

  @include add-grid(3);
}

header {
  display: block;
  position: relative;
  z-index: 1001;
}

.gs-mainContent {
  @include grid-span(3, 1);

  position: relative;

  @include layout-at(9, $tablet-landscape) {
    box-sizing: border-box;
    min-height: 860px;
    padding: 0 20px;
  }

  @include min-screen($desktop) {
    box-sizing: content-box;
    float: none;
    margin: 0 auto;
    max-width: 1313px;
    padding: 0;
  }

  &:focus {
    outline: none;
  }

  h1 {
    @include Kievit-Medium;

    color: $PRIMARY_COLOR;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    margin: 19px 0 23px 0;
    padding: 0 14px;

    @include min-screen($tablet-portrait) {
      padding: 0 36px;
    }

    @include layout-at(9, $tablet-landscape) {
      @include grid-span(8, 2);

      margin: 19px 0 0 0;
      padding: 0;
    }

    span {
      &:last-child {
        font-size: 12px;
        vertical-align: 12px;
      }
    }
  }

  .gs-operations {
    display: block;

    @include layout-at(7, $tablet-portrait) {
      @include grid-span(7, 1);

      box-sizing: border-box;
      display: inline-block;
      margin: 0 0 27px 0;
      padding: 0 36px;
    }

    @include layout-at(9, $tablet-landscape) {
      @include grid-span(8, 2);

      margin: 30px 0 27px 0;
      padding: 0 20px 0 0;
    }
  }

  .gs-searchField {
    @include layout-at(8, $tablet-landscape) {
      width: 100%;
    }

    @include layout-at(8, $desktop) {
      width: 100%;
    }
  }

  .gs-search-catalog-link-wrapper {
    @include Kievit-Book;

    font-size: 16px;
    padding: 0 14px;

    @include min-screen($tablet-portrait) {
      padding: 0;
    }

    @include min-screen($tablet-landscape) {
      padding: 60px 0 0 0;
    }

    @include min-screen($desktop) {
      font-size: 20px;
      height: 48px;
      padding: 0;
    }

    a {
      position: relative;
      top: 16px
      color: $SEARCH_BLUE;
    }
  }
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  left: -10000px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* IE6, IE7 */
  clip: rect(0, 0, 0, 0);
}
